button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #145369;
    padding: 30px;
    color: white;
    border-radius: 20px;
}
button:hover{
    cursor: pointer;
}
span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: x-large;
}
img{
    width: 50px;
    height: 40px;
}