.button1{
    color:black;
    background-color: white;
    font-family: "Roboto";
    width:150px;
    height:40px;
    padding:7px;
    border-radius: 9px;
    border-width: 2px;
    font-size: 20px;
}
.title{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding-top:70px;
    text-align: center;
    margin-top:0px;
}
.para{
    color:white;
    font-size: 20px;
    color:white;
    text-align: center;
    padding-top:10px;

}
.buttoncontainer{
    width:100%;
    text-align: center;
}