nav {
    background-color: #5c5c8a;
    overflow: hidden;
  }
  
  .rightnav {
    float: right;
    margin: 0;
  }
  
  .leftnav {
    float:left;
  }
  
  .list {
    display: inline-block;
  }
  
  .aa {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
  
  .image {
    height: 40px;
  }
  
  .title {
    font-family: "Roboto";
    font-size: 30px;
    color: white;
  }
  
  .footer-section {
    background-color: #41de85;
    color: white;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    padding: 0% 3%;
    font-family: 'Times New Roman', serif;
    font-weight: normal;
    text-align: center;
  }
  