*{

     margin: 0;
    
     padding: 0;
    
     box-sizing: border-box;
    
     font-family: Arial, Helvetica, sans-serif;
    
    }
    
    .body{
    
     height: 220px;
    
     background-color: rgb(46, 46, 67);
    
     position: absolute;
    
     left: 0%;
    
     top: 12%;
    
  right: 0%;
    
     width: 100%;
    
    height:60%;
    
    }
    
    .title2{
    
     color: white;
    
     font-size: 30px;
    
     position: absolute;
    
     left: 5%;
    
     top: 30px;
    
    }
    
    
    
    