:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.complaint-form{
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%,-30%);
  border-radius: 20px;
  width: 300px;
  background-color: aquamarine;
  padding-left: 40px;
  padding-top: 20px;
}
.message{
  margin: 0%;
  padding: 0%;
  height: 200px;
}
button{
  margin-left: 45px;
}
.alert-info{
  position: absolute;
  left: 15px;
  top: 50%;
  border-style: ridge;
  padding: 20px;
  background-color:cadetblue ;
}
button{
  background-color: white !important;
  margin-bottom: 20px;
}
.page{
  background-color: gray;
}